:root {
    /* CSS HEX */
--jet: #353535ff;
--ming: #3c6e71ff;
--white: #ffffffff;
--gainsboro: #d9d9d9ff;
--indigo-dye: #284b63ff;
}

* {
  box-sizing: border-box;

}
body {
    background-color: var(--white);
    line-height: 1.2;


}
.nav-container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  border: none;
  border-radius: 10px;
 background-color: var(--gainsboro);

}
.nav-item {
  display: flex;
  flex-direction: row;
  border: solid 2px var(--gainsboro);
  margin: 10px;
  border-color: var(--gainsboro);
}
.nav-item:hover{
    border-color: var(--ming);
}
.nav-titles {
  text-decoration: none;
  color: var();
}
.about-me-container {
  display: flex;
  flex-direction: row;
  border: none;
  margin: 2%;
  color: var(--white);
  background-color: var(--ming);
}
.about-me-item {
  display: column;
  flex-direction: row;
}


.profile-image {
  max-height: 100%;
  max-width: 100%;
  padding: 5px;
  margin-top: 35%;
  border-radius : 25px; 

}

.projectmain {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}

.project-image {
flex-direction: row;
height: 175px;;
width: 300px;
display: inline-block;
margin: 10%;
padding: 10%;
}


.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 2%;
  background-color: var(--indigo-dye);
}

.project-items {
  display: flex;
  flex-direction:row;
  border: 1px solid black;
  height:50%;
  width: 50%;
  margin: 0;
  padding: 0;
 position: relative;
  text-align: center;
  color: white;

}

.project-item p a {


}

.contact-container {
    display:flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%; 
    justify-content: center;
    align-items: center; 
    margin:0;
}

.contact-items {
display:flex;
float: left;

}

.contact-image {
height:50px;
width: 50px;
padding: 15px;
margin: 10px;


}


@media screen and (max-device-width: 596px) and (orientation:portrait) {

.nav-container {
    flex-direction: column;
    align-items: center;

  }
  .nav-item {
    flex-direction: column;
    border: solid 1px black;
    align-items: center;
    border-radius: 10px;
  }
  .about-me-container {
    flex-direction: column;
    border: 1px solid black;
    margin: 4%;
  }
  .about-me-item {
    flex-direction: column;
    border: 1px solid black;
  }
  .profile-image {
    height: 100%;
    width: 96%;
  } 
}