/* underlying image colours from coolers */
:root {
  /* CSS HEX */
  --jet: #353535ff;
  --ming: #3c6e71ff;
  --white: #ffffffff;
  --gainsboro: #d9d9d9ff;
  --indigo-dye: #284b63ff;
  --lightslategrey: #778899;
}
/* universal element */
* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  /* background-color: var(--white); */
  background-image: url(./assets/images/backgroundimage.jpeg);
  line-height: 1.2;
}

/* navbar */

.nav-container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: var(--jet);
}
.nav-item {
  display: flex;
  flex-direction: row;
  border: solid 2px var(--gainsboro);
  margin: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  border-color: var(--jet);
}

/* pseudo element for the nav buttons */
.nav-item:hover {
  border-color: var(--white);
  padding-left: 2rem;
  padding-right: 2rem;
  font-variant: var(--jet);
}
.nav-titles {
  text-decoration: none;
  color: var(--gainsboro);
}

/* about-me */
.about-me-container {
  display: flex;
  flex-direction: row;
  border: none;
  margin: 2%;
  color: var(--white);
  background-color: var(--ming);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

/* about me contains image icon and text */

.about-me-item {
  display: column;
  flex-direction: row;
  position: relative;
  margin: 0%;
}

.profile-image {
  max-height: 13rem;
  max-width: 13rem;
  padding: 5px;
  border-radius: 50rem;
  object-fit: contain;
}
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

/* css for semantic html refactor project */

/* header tags on page */
.hr-lines {
  text-align: center;
}

/* first project- Horiseon Marketing agency */
.mainproject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  background-color: var(--indigo-dye);
  width: 100vw;
}

.projectmain {
  margin-top: 5vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  border-left: 5px solid black;
  height: 75vh;
  width: 80vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  object-fit: cover;
  border-image-width: 10px;
}
.projectmain:hover {
  transform: scale(1.03);
}

h3 {
  text-align: center;
  color: white;
}

.github-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.github-div {
  display: flex;
  flex-direction: row;
}

/* other projects */
.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--indigo-dye);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin-bottom: 10vh;
  padding: 0;
  border-bottom: solid var(--ming);
}

.project-items {
  display: flex;
  flex-direction: row;
  border-left: 5px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 30rem;
  width: 40vw;
  margin: 20px;
  position: relative;
  text-align: center;
  color: white;
}

.project-items:hover {
  transform: scale(1.03);
}

.image-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.project-items img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: fill;
  padding: 0;
}

.project-info {
  position: absolute;
  padding: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  top: 0;
  right: 1;
  background-color: rgba(52, 52, 52, 0.4);
}

/* contacts */

.contact-container,
.cv-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.contact-items {
  display: flex;
  float: left;
}

.contact-image {
  height: 7rem;
  width: 7rem;
  padding: 15px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.footer p {
  text-align: center;
  background-color: var(--gainsboro);
}

.footer h3 {
  background-color: var(--ming);
  color: var(--white);
}
/* media queries compatibile for phone on potrait mode */

@media screen and (max-device-width: 596px) and (orientation: portrait) {
  /* media queries for navigation bar */
  .nav-container {
    flex-direction: column;
    align-items: center;
  }
  .nav-item {
    flex-direction: column;
    border: solid 1px black;
    align-items: center;
    border-radius: 10px;
  }
  /* media queries for about me */
  .about-me-container {
    flex-direction: column;
    border: 1px solid black;
    margin: 4%;
  }
  .image-container {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0;
  }
  .about-me-item {
    flex-direction: column;
    border: 1px solid black;
  }
  .profile-image {
    height: 60%;
    width: 96%;
    object-fit: contain;
    padding: 10px;
    margin-top: 0%;
  }
  .project-container {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
  }

  .project-items {
    display: flex;
    flex-direction: row;
    border-left: 5px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 20vh;
    width: 87vw;
    margin: 20px;
    position: relative;
    text-align: center;
    color: white;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
  }
}
