/* underlying image colours from coolers */
:root {
    /* CSS HEX */
--jet: #353535ff;
--ming: #3c6e71ff;
--white: #ffffffff;
--gainsboro: #d9d9d9ff;
--indigo-dye: #284b63ff;
}
/* universal element */
* {
  box-sizing: border-box;


}
body {
    background-color: var(--white);
    line-height: 1.2;
   
}

/* navbar */

.nav-container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  border: none;
  border-radius: 10px;
 background-color: var(--gainsboro);

}
.nav-item {
  display: flex;
  flex-direction: row;
  border: solid 2px var(--gainsboro);
  margin: 10px;
  border-color: var(--gainsboro);
}

/* pseudo element for the nav buttons */
.nav-item:hover{
    border-color: var(--ming);
}
.nav-titles {
  text-decoration: none;
}

/* about-me */
.about-me-container {
  display: flex;
  flex-direction: row;
  border: none;
  margin: 2%;
  color: var(--white);
  background-color: var(--ming);
}
/* about me contains image icon and text */
.about-me-item {
  display: column;
  flex-direction: row;
  position: relative;
}

.profile-image {
display: flex;
justify-content: center;
align-items: center;
  max-height: 100%;
  max-width: 100%;
  padding: 5px;
  margin-top: 35%;
  border-radius : 25px; 
  object-fit: contain;

}

/* css for semantic html refactor project */
.projectmain {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}

h3 {
text-align: center;
}



.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: var(--indigo-dye);
}

.project-items {
  display: flex;
  flex-direction :row;
  border: 1px solid black;
  height: 11rem;
  width: 40vw;
  margin: 20px;
 position: relative;
  text-align: center;
  color: white;

}
.image-container {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

.project-items img {
flex-direction: row;
height:100%;
width: 100%;
object-fit: contain;
padding: 0;
margin: 0;
}

.project-info {
position: absolute;
top: 0;
right: 0; 
background-color: var(--jet); opacity: calc(rgba)


}

/* contacts */

.contact-container {
    display:flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%; 
    justify-content: center;
    align-items: center; 
    margin:0;
}

.contact-items {
display:flex;
float: left;

}

.contact-image {
height:50px;
width: 50px;
padding: 15px;
margin: 10px;


}
footer p {
    text-align: center;
}

/* media queries compatibile for phone on potrait mode */

@media screen and (max-device-width: 596px) and (orientation:portrait) {

/* media queries for navigation bar */
.nav-container {
    flex-direction: column;
    align-items: center;

  }
  .nav-item {
    flex-direction: column;
    border: solid 1px black;
    align-items: center;
    border-radius: 10px;
  }
  /* media queries for about me */
  .about-me-container {
    flex-direction: column;
    border: 1px solid black;
    margin: 4%;
  }
  .about-me-item {
    flex-direction: column;
    border: 1px solid black;
  }
  .profile-image {
    height: 60%;
    width: 96%;
    object-fit: contain;
    padding: 10px;
    margin-top: 0%;
  } 
.project-container {
    display:flex;
    flex-direction: column; 
    flex-wrap:none;
}

.project-items {
    display:flex;
    flex-direction: column,
}

.contact-container {
display:flex;
flex-direction: column;
}

}